{% extends 'base.html' %}
{% load humanize %}

{% block navbar %}
<form action="/search/" method="get" class="navbar-form navbar-left hidden-xs" role="search">
  <div class="form-group">
    <input type="text" name="q" class="search-input" placeholder="Search">
  </div>
  <button class="btn btn-default"><span class="fa fa-search"></span></button>
</form>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-3">
    <div class="jumbotron jumbotron-calaccess">
      <h2>{{ filer.name }} ({{ filer.filer_id }})</h2>
    </div>
    <div class="stat" id="some-stat">
      <span class="data">${{ filer.total_contributions|intcomma }}</span>
      <p>Total Raised</p>
    </div>
    <div class="stat" id="some-stat">
      <span class="data">${{ filer.total_expenditures|intcomma }}</span>
      <p>Total Spent</p>
    </div>
    <div class="stat" id="some-stat">
      <span class="data">{{ filer.committee_set.count }}</span>
      <p>Total Committees</p>
    </div>
    <div class="stat" id="some-stat">
      <span class="data">{{ filer.stats_set.all.0.str_year_span }}</span>
      <p>Years Active</p>
    </div>
  </div>
  <div class="col-md-9">
    <table class="table table-responsive table-condensed table-striped">
      <thead>
        <tr>
          <th>Committee</th>
          <th>Raised</th>
          <th>Spent</th>
          <th>Years</th>
        </tr>
      </thead>
      <tbody>
      {% for committee in filer.committee_set.all %}
        <tr>
          <td>{{ committee.name }}</td>
          <td>${{ committee.total_contributions|intcomma }}</td>
          <td>${{ committee.total_expenditures|intcomma }}</td>
          <td>{{ committee.stats_set.all.0.str_year_span }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}