{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="main container">
  <div class="row">
    <div class="col-lg-4">
      <section class="candidate-detail">
        <div class="page-header">
          <h1>{{ filer.name }}</h1>
          <small>{{ filer.status }} | <span id="filer-id">{{ filer.filer_id }}</span></small>
        </div>
        <!-- Data -->
        <div class="stat" id="some-stat">
          <span class="data">${{ filer.total_contributions|intcomma }}</span>
          <p>Total Raised</p>
        </div>
        <div class="stat" id="some-stat">
          <span class="data">${{ filer.total_expenditures|intcomma }}</span>
          <p>Total Spent</p>
        </div>
        <div class="stat" id="some-stat">
          <span class="data">{{ filer.committee_set.count }}</span>
          <p>Total Committees</p>
        </div>
        <div class="stat" id="some-stat">
          <span class="data">{{ filer.stats_set.all.0.str_year_span }}</span>
          <p>Years Active</p>
        </div>
      </section>
    </div>
    <div class="col-md-8" style=" height: 500px; overflow-y: scroll;">
      <table class="table table-responsive table-condensed table-striped">
        <thead>
          <tr>
            <th>Committee</th>
            <th>Raised</th>
            <th>Spent</th>
            <th>Years</th>
          </tr>
        </thead>
        <tbody>
        {% for committee in filer.committee_set.all %}
          <tr>
            <td>{{ committee.name }}</td>
            <td>${{ committee.total_contributions|intcomma }}</td>
            <td>${{ committee.total_expenditures|intcomma }}</td>
            <td>{{ committee.stats_set.all.0.str_year_span }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}