{% extends 'base.html' %}

{% block navbar %}
<form action="/search/" method="get" class="navbar-form navbar-left hidden-xs" role="search">
  <div class="form-group">
    <input type="text" name="q" class="search-input" placeholder="Search">
  </div>
  <button class="btn btn-default"><span class="fa fa-search"></span></button>
</form>
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-calaccess">
  <h2>{{ filer.name }} ({{ filer.filer_id }})</h2>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="stat" id="some-stat">
      <span class="data">{{ filer.total_contributions }}</span>
      <p>Total Raised</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="stat" id="some-stat">
      <span class="data">{{ filer.total_expenditures }}</span>
      <p>Total Spent</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="stat" id="some-stat">
      <span class="data">{{ filer.committee_set.count }}</span>
      <p>Total Committees</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="stat" id="some-stat">
      <span class="data">{{ filer.stats_set.all.0.str_year_span }}</span>
      <p>Years Active</p>
    </div>
  </div>
</div>
{% endblock %}