{% load staticfiles %}
<nav class="navbar navbar-calaccess" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  {% block navbar %}
  {% endblock %}
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <img class="navbar-logo" src="{% static "images/ccdc-logo.png" %}" alt="">
    <a class="navbar-brand" href="/">California Elections 2014</a>
  </div>
</nav>